<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>
    <title>Bank</title>
</head>
<body>
<div class="container">
    <div class="container">
        <h1 th:text="#{createAccountConfirmation.title}">Title</h1>
        <p>
            <span th:text="#{createAccountConfirmation.message}"></span>
            <span th:text="${account.number}"></span>
        </p>
        <a th:text="#{homeLink}" href="index.html"></a>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
