<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:jdbc.properties"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url" value="${}"/>
    </bean>

    <bean id="accountsRepository" class="pl.training.bank.service.repository.HashMapAccountsRepository"/>

    <bean id="accountNumberGenerator" class="pl.training.bank.service.IncrementalAccountNumberGenerator" scope="prototype"/>

    <bean id="accountsService" class="pl.training.bank.service.AccountsService" init-method="init" destroy-method="destroy">
        <constructor-arg name="accountsRepository" ref="accountsRepository"/>
        <constructor-arg name="accountNumberGenerator" ref="accountNumberGenerator"/>
    </bean>

    <bean id="operationLogger" class="pl.training.bank.operation.ConsoleOperationLogger"/>

    <aop:aspectj-autoproxy/>
    <aop:config>
        <aop:aspect ref="operationLogger">
            <aop:pointcut id="processOperation" expression="execution(void pl.training.bank.service.AccountsService.process(..)) and args(operation)"/>
            <aop:before method="beforeProcessOperation" pointcut-ref="processOperation"/>
            <aop:after-returning method="onSuccess" pointcut-ref="processOperation"/>
            <aop:after-throwing method="onException" throwing="ex" pointcut-ref="processOperation"/>
        </aop:aspect>
    </aop:config>

</beans>