<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="accountsRepository" class="pl.training.bank.service.repository.HashMapAccountsRepository"/>

    <bean id="accountNumberGenerator" class="pl.training.bank.service.IncrementalAccountNumberGenerator" scope="prototype"/>

    <bean id="accountsService" class="pl.training.bank.service.AccountsService" init-method="init" destroy-method="destroy">
        <constructor-arg name="accountsRepository" ref="accountsRepository"/>
        <constructor-arg name="accountNumberGenerator" ref="accountNumberGenerator"/>
    </bean>

</beans>